@import './styles/_variables';

app-root,
app-home {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Soleil', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.wrapper {
  padding: $main-content-wrapper;
}

// TODO make a generic card class

header {
  flex-basis: 100%;
  height: $header-height;
  background-color: $bg-white;
  border-bottom: 1px solid $header-border;
}

.header,
app-header {
  height: $header-height;
  max-height: $header-height;
}

aside {
  max-width: $navigation-width;
  flex: 1;
  background-color: $bg-white;
  padding: 40px;
}

main {
  flex: 3;
  background-color: $bg-light;
}

@supports (display: grid) {
  html,
  body,
  app-root,
  app-home,
  .container {
    height: 100%;
  }
  .container {
    display: grid;
    grid-template:
      'header header'
      'navigation content';
    grid-template-columns: $navigation-width 5fr;
    grid-template-rows: $header-height auto;
  }

  header {
    grid-area: header;
  }

  aside {
    grid-area: navigation;
  }

  main {
    grid-area: content;
  }

  @media (max-width: $media-max-width) {
    .container {
      grid-template:
        'header' $header-height
        'content'
        'navigation';
    }
    .wrapper {
      padding: $mobile-main-content-wrapper;
    }
  }
}

@media (max-width: $media-max-width) {
  .wrapper {
    padding: $mobile-main-content-wrapper;
  }
  aside {
    display: flex;
    justify-content: center;
    max-width: 100%;
    padding: 40px 0;
  }
}
