html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Soleil', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  padding: $main-content-wrapper;
}

// TODO make a generic card class

header {
  flex-basis: 100%;
  height: $header-height;
  background-color: $bg-white;
  border-bottom: 1px solid $header-border;
}

aside {
  max-width: $navigation-width;
  flex: 1;
  background-color: $bg-white;
  padding: 40px;
}

main {
  flex: 3;
  background-color: $bg-light;
}

@supports (display: grid) {
  .container {
    display: grid;
    grid-template:
      'header header' $header-height
      'navigation content';
    grid-template-columns: $navigation-width 5fr;
  }

  header {
    grid-area: header;
  }

  aside {
    grid-area: navigation;
  }

  main {
    grid-area: content;
  }
}
