// colors

$bg-white: #ffffff;
$bg-light: #f4f9fc;
$border: #e5e9ed;
$header-border: #eaeef4;
$text-primary: #00124f;
$text-light: #002d4f;
$text-secondary: #4c6c83;
$text-white: #ffffff;
$btn-bg: #0087ef;

// border-radius
$radius: 5px;

// fixed layout dimentions
$header-height: 64px;
$navigation-width: 240px;

$main-content-wrapper: 41px 70px;
