<div class="banner">
  <a href="#" class="banner-link">
    <img src="assets/png/nicebeauty.com_eu_.png" alt="link-image" />
    <p>hairstylist.com</p>
  </a>
</div>
<nav class="navigation">
  <ul class="navigation-list">
    <li class="navigation-list-item">
      <a href="#">
        Marketing Plan
      </a>
    </li>
    <li class="navigation-list-item">
      <a href="#">
        Dashboard
      </a>
    </li>
    <li class="navigation-list-item">
      <a href="#">
        My Ads
      </a>
    </li>
    <li class="navigation-list-item">
      <a href="#">
        Analytics
      </a>
    </li>
    <li class="navigation-list-item">
      <a href="#">
        Cobiro Store
      </a>
    </li>
  </ul>
</nav>
