@import './styles/_variables.scss';

.header {
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  & .logo,
  .user {
    display: flex;
    align-self: center;
  }
  & .user {
    &-name {
      color: $text-light;
      padding: 0 10px;
      font-size: 14px;
      line-height: 29px;
    }
  }
}
